@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-primary: #206efe;
}

html {
    color-scheme: light !important;
}

body {
    background-color: white !important;
    color: black !important;
}